html, body {
    margin: 0;
    padding: 0;
  }
  /*
  canvas {
    display: cover;
  }  */
.pj_intro{
    position: absolute;
    top: 65%;
    width: 100%;
    z-index: 3;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    color: white;
}
.pj_intro:hover{
    border-radius: 50%;
    filter: blur(15px);
    animation: pjintrohoverA 1s ;
}
@keyframes pjintrohoverA{
    0%{ background: none;
    }
    100%{ background: aquamarine;}
}

